.appNavbar{
    display:flex;
    flex-direction:row;
    align-items: center;
    /* justify-content: flex-end; */
    position:sticky;
    top:0;
    left:0;
    padding:0;
    margin:0;
    width:100%;
    background-color:rgb(54, 155, 54);
    height:50px;
    margin-bottom:1vh;
    z-index:4;
  }
  
  

  .nav1{
      color:white;
      margin-left:1vw;
      font-weight:500;
  }
  
  .nav3{
    margin-right:3vw;
    margin-left: auto
  }
  
  .navIcon{
    cursor: pointer;
    color:white;
  }
  
  .navIcon:hover{
    color: darkblue
  }